# .editorconfig
# Matches the settings in .prettierrc and tsconfig.base.json.
# See https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Preserve trailing whitespace in Markdown (two spaces = line break)
trim_trailing_whitespace = false

[*.{json,yaml,yml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
end_of_line = lf
